.htaccess
node_modules
log
dist
.DS_Store
.idea/*
application
webpack.config-router-main.js
router-gray.php
router.php
.ftpquota
favicon.ico
logs/
npm-debug.log
webApp.bk/

bin/frp/frpc.ini
*.cache
*.eslintcache
*.log

.tern-project
.sftprc

.vscode/*
!.vscode/*.code-snippets

router
.sshkey

cypress/.config.js
cypress/.config.prod.js

src/components/myComponents
genPage.sh

# 活动views
actViews
